* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

main {
  grid-area: main;
}
p {
  font-size: 15px;
}

#imagen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 200px;
  width: 500px;
  margin-left: 300px;
  margin-bottom: 20px;
}

.article__contenido {
  background-image: url(../img/imgfondo.jpg);
  padding-left: 70px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 1rem;
  padding-right: 10px;
  padding-top: 20px;
}

.noticia__subtitulo {
  color: rgb(109, 163, 222);
  font-size: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

#items {
  font-style: italic;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  text-align: left;
}
.whatsapp {
  width: 60px;
  height: 60px;
  border: none;
}
.ubicacion {
  width: 20px;
  height: 30px;
  border: none;
}
.mapa {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.sc-closed-icon {
  transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
  width: 60px;
  height: 60px;
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.Nosotros {
  background-image: url(../img/imgfondo.jpg);
  padding-left: 70px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 1rem;
  padding-right: 10px;
  padding-top: 20px;
}

.Titulo {
  display: flex;
  color: white;
  margin-left: 30px;
  font-size: 25px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 60px;
  padding-top: 30px;
}

main h2 {
  font-weight: bolder;
  color: #555;
  text-align: left;
  padding-left: 30px;
  padding-top: 30px;
}

main img {
  height: 200px;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 20px;
  border: 3px solid #555;
}
.container-fluid {
  background-color: rgb(52, 83, 187);
}

.logo {
  width: 100px;
  border: 3px solid rgb(42, 91, 154);
  border-radius: 10px;
}

header nav {
  width: 100%;
  text-align: right;
}

header li {
  display: inline;
  margin: 0px 5px;
  padding: 6px 12px;
  border: 2px solid rgb(0, 122, 163);
  border-radius: 5px;
  background-color: white;
}
header li a {
  text-decoration: none;
  color: rgb(0, 122, 163);
}

section article {
  padding: 50px;
}

.tarjetas {
  display: grid;
  grid-template-columns: 425px 425px 425px;
  grid-column-gap: 15px;
}

.card-img-top {
  border: none;
  height: 200px;
  width: 100px;
}

.input {
  padding: 10px 10px;
  border: 2px solid rgb(0, 122, 163);
  border-radius: 5px;
  background-color: white;
}
.button {
  padding: 12px 12px;
  border: 2px solid rgb(0, 122, 163);
  border-radius: 5px;
  background-color: rgb(63, 192, 235);
}

footer {
  background-color: #eee;
  display: flex;
  padding: 50px 20px;
  border-top: 3px solid #ddd;
  align-items: center;
  grid-area: footer;
}
footer p {
  text-align: right;
  width: 100%;
}
.gridPadre {
  display: grid;
  grid-template-rows: 400px 400px 400px 400px;
}

.gridContenido {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}

@media (max-width: 480px) {
  .gridPadre {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    padding-top: 5px;
  }

  .noticia__subtitulo {
    font-size: 23px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
  }

  .article__contenido {
    background-image: url(../img/imgfondo.jpg);
    width: 400px;
    height: 900px;

    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 1rem;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-top: 20px;
  }
  .Nosotros {
    background-image: url(../img/imgfondo.jpg);
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-top: 20px;
  }
  .article {
    margin-bottom: 5px;
    padding-bottom: 5px;
  }

  #imagen {
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 200px;
    width: 300px;
    margin-left: 30px;
    margin-bottom: 20px;
  }
  .texto {
    font-size: 10px;
    font-style: normal;
    text-align: left;
  }
  #items {
    font-size: 15px;
    font-style: italic;
  }
}

@media screen and(max-width: 480px) {
  .descripcion {
    padding-top: 10px;
    padding-left: 70px;
    padding-bottom: 10px;
    padding-right: 100px;
    margin-bottom: 10px;
    content: 30px;
  }
  .columnas {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30px;
    height: 20px;
    margin-right: 10px;
  }
  #NATACIÓN {
    height: 10px;
    width: 10px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: auto;
    border: 3px solid #555;
  }
  .card {
    height: 10px;
  }

  .Newcom {
    height: 5px;
    margin-right: 10px;
    margin-left: 20px;
  }
  .titulo {
    font-size: 2px;
  }
  ul {
    display: flex;
    flex-direction: column;
  }
  li a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 70px;
  }
}

@media (max-width: 480px) {
  .Titulo {
    display: none;
  }
}

@media (min-width: 480px) {
  .noticia {
    font-size: 10px;
    padding-top: 10pxpx;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .noticia__subtitulo {
    font-size: 30px;
    padding-top: px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
